#single-restaurant-page {

    .address {
        font-size: 0.7rem;
    }

    .address {
        font-size: 0.75rem;
    }

    .img-restaurant-container {
        height: 300px;
        width: 100%;
    }

    .img-restaurant {
        width: 100%;
        height: inherit;
        object-fit: cover;
    }

    .plate-img {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        max-height: 10rem;
    }

    .price-btn {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        width: 5rem;
    }

    .card {
        transition: all .2s ease-in-out;
    }

    .card:hover{
        cursor: pointer;
        transform: translatey(-5px);
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.336);
        color: inherit; 
    }
}

