.vertical-snap {
    margin: 0 auto;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    width: calc(21.875rem + 1rem);
    padding: 1rem;
    height: 480px;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
}

.vertical-snap > a {
    scroll-snap-align: center;
}

.vertical-snap img {
    width: 21.875rem;
    object-fit: contain;
    border-radius: 1rem;
}
