// GENERAL CSS
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    @media screen and (max-width:1199.98px) {
        font-size: 98%;
    }
    @media screen and (max-width:991.98px) {
        font-size: 94%;
    }
    @media screen and (max-width:767.98px) {
        font-size: 90%;
    }
    @media screen and (max-width:575.98px) {
        font-size: 85%;
    }
}

body {
    background-color: $primary !important;
    color: $text_color;
    font-family: 'Roboto', sans-serif;
}

hr {
    border: 1px solid $text_color;
}

a {
    text-decoration: none;
    color: $text_color;
}

h1 {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 5rem;
}

h2 {
    font-size: 3.3rem;
    font-weight: 500;
    line-height: 5rem;
}

h4 {
    margin: 0;
}


// CLASSES
.container {
    width: 1200px;
    min-width: 800px;
    margin: auto;
}

.bttn {
    @include d-flex;
    align-items: center;
    justify-content: center;
    font-weight: $txt_normal;
    padding: 8px;
    border: 1px solid transparent;
    background-color: $secondary;
    color: white;
    cursor: pointer
}

.bttn_reverse {
    @include d-flex;
    align-items: center;
    justify-content: center;
    font-weight: $txt_normal;
    padding: 8px;
    border: 1px solid $secondary;
    background-color: white;
    color: $secondary;
    
    &:hover {
        cursor: pointer;
        border: 1px solid transparent;
        background-color: $secondary;
        color: white;
    }
}

.btn_large {
    padding: 8px 5px;
    border: 1px solid $btn_color;
    color: $btn_color;
    background-color: white;

    & * {
        margin: 0px 5px;
    }

    &:hover {
        background-color: $btn_color;
        color: white;
    }
}

.icona {
    height: 20px;
}

.link {
    color: $text_color;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;

    &:hover {
        color: white !important;
    }
}