// NAVBAR TOP MENU
header {
    background-color: $primary;
    font-weight: $txt_normal;

    #logo {
        display: flex;
        align-items: center;
        text-decoration: none;

        img {
            width: 10rem;
        }
    }
    
    .navbar {
    }

    .right_nav {
    }

    .dropdown-menu {
        top: 70% !important;
        right: 0 !important;
        left: auto !important;
    }
    
}
